[submodule "My_Projects/Hard-Coded/Mega/Farm-Security"]
	path = My_Projects/Hard-Coded/Mega/Farm-Security
	url = https://github.com/Mahir29Flame/Farm-Security.git
[submodule "My_Projects/Hard-Coded/Mid/Science-Calc"]
	path = My_Projects/Hard-Coded/Mid/Science-Calc
	url = https://github.com/Mahir29Flame/Science-Calc.git
